#upload {
  display: none;
}
.file-upload-container {
  padding: 20px;
  margin-right: 12px;
  width: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  .title-container {
    padding: 12px 0;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      .upload-icon {
        font-size: 28px;
        color: #95a5a6;
      }
      h2 {
        margin-left: 12px;
      }
    }
    p {
      color: #95a5a6;
    }
  }
  .file-upload {
    padding: 60px 0;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    border: 4px dotted #5dade2;
    background-color: #d6eaf8;
    cursor: pointer;
    .browse {
      font-size: 20px;
      cursor: pointer;
      color: #2e86c1;
      .pin {
        margin-left: 6px;
      }
    }
  }
  .file-container {
    .file-content-container {
      font-family: "Zilla Slab", serif;
      font-weight: 500;
      font-style: normal;
      h4 {
        margin: 20px 0;
      }
      .file-wrapper {
        .file {
          padding: 6px;
          border-radius: 6px;
          box-shadow: 0 0 0 1px #148f77;
          margin-bottom: 4px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .file-details {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .file-preview {
              margin-right: 12px;
              padding: 6px;
              border: 1px solid #eaeded;
              border-radius: 6px;
              .image-preview {
                width: 100px;
              }
            }
            .file-name {
              .name {
                padding-bottom: 10px;
                font-weight: bold;
              }
            }
          }
          .close-file {
            padding: 10px;
            cursor: pointer;
            i {
              font-size: 26px;
              color: #566573;
              &:hover {
                color: #e74c3c;
              }
            }
          }
        }
      }
      .progress {
        margin-bottom: 8px;
      }
    }
  }
  .upload-btn-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      width: 50%;
      outline: none;
      border: none;
      border-radius: 6px;
      padding: 16px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
    }

    .cancel-btn {
      margin-right: 20px;
    }
    .upload-btn {
      background-color: #3498db;
      color: #fff;
    }
    .disabled {
      background-color: #566573;
      opacity: 0.1;
      cursor: not-allowed;
    }
  }
}
